[submodule "portfolio"]
	path = portfolio
	url = https://github.com/maximusmaltby/portfolio.maltby.dev.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
