.site_title, .site-title {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.site_subtitle, .site-description {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.menu-item, .menu-link, nav.menu {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

footer.site-footer, .copyright {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}